*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 500;
	color: #fff;
	overflow: hidden;
	background: #5f7b48;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 600;
	color: #e6905c;
}

a:hover,
a:focus {
	color: #fff;
}

.Background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.Background::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), transparent 50%, rgba(0, 0, 0, 0.5));
}
